<script setup>
  let props = defineProps(["currentCategory", "data"])
  let data = props.data || [];
  let currentCategory = props.currentCategory || 'today';

  const categories = {
    'today': [
      "00:00",
      "01:00",
      "02:00",
      "03:00",
      "04:00",
      "05:00",
      "06:00",
      "07:00",
      "08:00",
      "09:00",
      "10:00",
      "11:00",
      "12:00",
      "13:00",
      "14:00",
      "15:00",
      "16:00",
      "17:00",
      "18:00",
      "19:00",
      "20:00",
      "21:00",
      "22:00",
      "23:00",
    ],
    'week': [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
    ],
    'month': [
      "0",
      "1",
      "2",
      "3",
      "4",
      "5",
      "6",
      "7",
      "8",
      "9",
      "10",
      "11",
      "12",
      "13",
      "14",
      "15",
      "16",
      "17",
      "18",
      "19",
      "20",
      "21",
      "22",
      "23",
      "24",
      "25",
      "26",
      "27",
      "28",
      "29",
      "30",
    ],
    'year': [
      "Jan",
      "Feb",
      "Mar",
      "Apr",
      "May",
      "Jun",
      "Jul",
      "Aug",
      "Sep",
      "Oct",
      "Nov",
      "Dec",
    ],
  }

  const options = computed(() => ({
    chart: {
      type: 'spline',
      animation: {
        enabled: true
      }
    },
    legend: {
      enabled: false
    },
    title: {
      text: ''
    },
    accessibility: {
      enabled: false
    },
    xAxis: {
      gridLineColor: 'transparent',
      categories: categories[currentCategory],
    },
    yAxis: {
      gridLineColor: 'transparent',
        title: {
            text: ''
        },
    },
    tooltip: {
        crosshairs: true,
        shared: true
    },
    plotOptions: {
      spline: {
        marker: {
          enabled: false,
        }
      }
    },
    series: [{
      name: 'Balance',
      lineWidth: '4px',
      color: {
        linearGradient: {  },
        stops: [
          [0, 'rgba(252, 176, 69, 1)'],
          [0.33, 'rgba(252, 29, 29, 1)'],
          [0.66, 'rgba(131, 58, 180, 1)'],
          [1, 'rgba(29, 217, 59, 1)'],
        ]
      },
      data
    }]
  }))
</script>

<template>
  <div class="border rounded-lg p-4">
    <highchart :options="options" />
  </div>
</template>