<script setup>
  const props = defineProps(["title", "subtitle", ])
</script>

<template>
  <header class="flex items-start justify-between">
    <div class="grow">
      <p>{{ subtitle }}</p>
      <h1>{{ title }}</h1>
    </div>

    <ProductNew />
  </header>
</template>