<script setup>
  const name = ref("Ditra Amadia")
  const role = ref("Frontend Developer")
</script>

<template>
  <div class="m-2 p-2 border rounded flex items-center justify-start gap-2 cursor-pointer hover:bg-neutral-50"> 
    <div class="w-10 h-10 bg-neutral-300 rounded-full flex justify-center items-center">{{ name[0] }}</div>
    <div>
      <p class="text-sm font-bold text-black">{{ name }}</p>
      <p class="text-xs">{{ role }}</p>
    </div>
  </div>
</template>