<script setup lang="ts">
  import {
    AlertDialog,
    AlertDialogAction,
    AlertDialogCancel,
    AlertDialogContent,
    AlertDialogDescription,
    AlertDialogFooter,
    AlertDialogHeader,
    AlertDialogTitle,
    AlertDialogTrigger,
  } from '@/components/ui/alert-dialog'

  const { loading, open } = useHelpers()

  const createNewProduct = async () => {
    try {
      loading.value = true
      await new Promise(resolve => setTimeout(resolve, 2000));
    } catch (error) {
      console.error(error)
    } finally {
      loading.value = false
      open.value = false
    }
  }
</script>

<template>
  <AlertDialog :open="open">
    <AlertDialogTrigger>
      <Button @click="open = true">Add a new product</Button>
    </AlertDialogTrigger>
    <AlertDialogContent>
      <AlertDialogHeader>
        <AlertDialogTitle>Create a new product</AlertDialogTitle>
        <Input placeholder="Product name" />
        <Input placeholder="Description" />
        <Input placeholder="Quantity" />
        <Input placeholder="Price" />
      </AlertDialogHeader>
      <AlertDialogFooter>
        <AlertDialogCancel @click="open = false">Cancel</AlertDialogCancel>
        <AlertDialogAction @click="createNewProduct">{{ loading ? "Loading" : "Create" }}</AlertDialogAction>
      </AlertDialogFooter>
    </AlertDialogContent>
  </AlertDialog>
</template>