<script setup>
  import { columns } from "./columns"

  const data = ref([])
  
  function generateData(numObjects) {
    const statuses = ['pending', 'processing', 'completed'];
    const emails = ['example@gmail.com', 'm@example.com', 'test@example.com', 'user@example.com'];
    
    const randomData = [];

    for (let i = 0; i < numObjects; i++) {
      const id = Math.random().toString(36).substr(2, 8);
      const amount = Math.floor(Math.random() * 500) + 50;
      const status = statuses[Math.floor(Math.random() * statuses.length)];
      const email = emails[Math.floor(Math.random() * emails.length)];

      randomData.push({ id, amount, status, email });
    }

    return data.value = randomData;
  }

  onMounted(() => {
    generateData(10);
  });
</script>

<template>
  <div class="grid h-screen gap-4">
    <Header title="Transactions" subtitle="All you transactions" />

    <main class="grid gap-4">
      <DataTable :columns="columns" :data="data" />
    </main>
  </div>
</template>