<template>
  <div class="grid w-full min-h-screen gap-4">
    <Header title="Dashboard" subtitle="Hi, welcome back Ditra!" />

    <main class="grid gap-4">
      <OverviewChart />
    </main>

    <footer>
      <OverviewCards />
    </footer>
  </div>
</template>