<script setup>
  const cards = [
    {
      title: "Sales",
      progression: 12,
      amount: 1244.43,
      label: "View sales",
      description: "Sales of July 2024",
      icon: "solar:ticket-sale-outline"
    },
    {
      title: "Refunds",
      progression: 8,
      amount: 84.44,
      label: "View refunds",
      description: "Refunds since beginning of year",
      icon: "heroicons-outline:receipt-refund"
    },
    {
      title: "Payouts",
      progression: 14,
      amount: 899.99,
      label: "View payouts",
      description: "Payouts of this week",
      icon: "tabler:zoom-money"
    },
  ]
</script>

<template>
  <div class="grid gap-4 lg:grid-cols-3">
    <Card v-for="(item, index) in cards" :key="index" :card="item" />
  </div>
</template>