<script setup>
  import { Tabs, TabsContent, TabsList, TabsTrigger } from '@/components/ui/tabs'

  let data = ref([])

  const list = [
    {
      title: "Today",
    },
    {
      title: "Week",
    },
    {
      title: "Month",
    },
    {
      title: "Year",
    },
  ]

  let currentCategory = ref('today')

  const setCategory = (e) => {
    let v = e.target.innerText.toLowerCase()
    currentCategory.value = v
    if (v === 'today') data.value = [ 0, 82, 85, 79, 85, 54, 0, 17, 39, 3, 18, 96, 27, 88, 67, 28, 63, 87, 78, 45, 38, 60, 41, 53 ];
    if (v === 'week') data.value = [ 43, 51, 64, 46, 49, 68, 15 ];
    if (v === 'month') data.value = [ 76, 40, 92, 34, 57, 26, 92, 8, 26, 99, 65, 66, 40, 35, 80, 60, 52, 29, 78, 26, 78, 51, 28, 39, 52, 97, 88, 30, 14, 69, 73 ];
    if (v === 'year') data.value = [ 0, 82, 85, 79, 85, 54, 0, 17, 39, 3, 18, 96, 27, 88, 67, 28, 63, 87, 78, 45, 38, 60, 41, 53 ];
  }

  onMounted(() => {
    data.value = [ 0, 82, 85, 79, 85, 54, 0, 17, 39, 3, 18, 96, 27, 88, 67, 28, 63, 87, 78, 45, 38, 60, 41, 53 ]
  })
</script>

<template>
  <Tabs default-value="Today" @click="setCategory">
    <TabsList class="max-w-[400px]">
      <TabsTrigger v-for="(item, index) in list" :key="index" :value="item.title">
        {{ item.title }}
      </TabsTrigger>
    </TabsList>
    <TabsContent v-for="(item, index) in list" :key="index" :value="item.title">
      <Chart v-if="data.length > 0" :currentCategory="currentCategory" :data="data" />
    </TabsContent>
  </Tabs>
</template>